.App {
  margin-top: 4%;
  margin-left: 21%;
  width: 60%;
}
.CreateAccount{
  margin-bottom: 4%;
  text-align: center;
  align-items: center;
  font-size: 45px;
}
.email{
  color: grey;
}
.email-input{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  border-style: solid;
  border-color: #000000;
  height: 30px;
  font-size: 20px;
}
.name2-input{
  float: right;
  display: inline-block;
  width: 45%;
  margin-top: 1%;
  margin-bottom: 2%;
  border-width: 2%;
  border-style: solid;
  border-color: #000000;
  height: 30px;
  font-size: 20px;
}
.name-input{
  display: inline-block;
  width: 45%;
  margin-top: 1%;
  margin-bottom: 2%;
  border-width: 2%;
  border-style: solid;
  border-color: #000000;
  height: 30px;
  font-size: 20px;
}

.signUpButton{
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-top : 2%;
}
